services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: always
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
      - redis
    networks:
      - laravel-yt-dlp
    environment:
      APP_ENV: production
      APP_DEBUG: false

  web:
    image: nginx:1.28.1
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.prod.conf:/etc/nginx/conf.d/default.conf
      - ./docker/nginx/certbot/conf:/etc/letsencrypt
      - ./docker/nginx/certbot/www:/var/www/certbot
    depends_on:
      - app
      - reverb
    networks:
      - laravel-yt-dlp
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./docker/nginx/certbot/conf:/etc/letsencrypt
      - ./docker/nginx/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  node:
    image: node:24
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
      - node_modules:/var/www/html/node_modules
    networks:
      - laravel-yt-dlp

  db:
    image: postgres:17.7
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - laravel-yt-dlp

  redis:
    image: redis:8.4.0
    restart: always
    volumes:
      - redisdata:/data
    networks:
      - laravel-yt-dlp

  reverb:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: always
    command: php artisan reverb:start
    volumes:
      - ./:/var/www/html
    depends_on:
      - app
      - redis
    ports:
      - "6001:6001"
    networks:
      - laravel-yt-dlp
    environment:
      APP_ENV: production

  worker:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    restart: always
    command: php artisan queue:work --tries=3
    volumes:
      - ./:/var/www/html
    depends_on:
      - app
      - db
      - redis
    networks:
      - laravel-yt-dlp
    environment:
      APP_ENV: production

networks:
  laravel-yt-dlp:
    driver: bridge

volumes:
  pgdata:
  redisdata:
  node_modules:
